@model LuckyDrawApplication.Models.User

@{
    ViewBag.Title = "Purchaser Registration";
}

<style>
    .form-control {
        border-radius: 5rem;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 20px;
        margin: auto;
    }

    input,
    select,
    textarea {
        max-width: 500px;
    }

    .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
        color: #ff0000;
        text-align: end;
        border-color: #ff0000;
    }

    .has-error .form-control {
        border-color: #ff0000;
    }

        .has-error .form-control:focus {
            border-color: #ff0000;
        }

    .has-success .form-control {
        border-color: #00d91d;
    }

        .has-success .form-control:focus {
            border-color: #00d91d;
        }
</style>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://adminlte.io/themes/AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />


<!-- Site wrapper -->
<div class="wrapper">

    @Html.Partial("_SalesConsultantLayout")

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-success">

                <!-- User Registration Form -->
                <form id="register_user" method="post" class="form-horizontal" action="" style="text-align:center; padding-top: 20px; padding-bottom: 20px;">

                    <h4 style="font-weight:bold">Register A New Purchaser and Try Your Luck!</h4>

                    <div class="row text-center" style="margin-top: 50px;">

                        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-offset-1 col-offset-xs-0 col-xs-12 col-sm-10">

                            <!-- Full Name -->
                            <div class="form-group text-center center-block">
                                <label class="col-md-2" for="name" style="text-align:left;padding: 10px;">Name</label>
                                <div class="col-md-10" style="margin:auto;">
                                    <input type="text" class="form-control form-rounded" id="name" name="name" placeholder="" />
                                </div>
                            </div>

                            <!-- IC Number -->
                            <div class="form-group">
                                <label class="col-md-2" for="ic_number" style="text-align:left;padding: 10px;">IC No</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-rounded" id="ic_number" name="ic_number" placeholder="Eg. 7802053550786" />
                                </div>
                            </div>

                            <!-- Email Address -->
                            <div class="form-group">
                                <label class="col-md-2" for="emailaddress" style="text-align:left;padding: 10px;">Email</label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control form-rounded" id="emailaddress" name="emailaddress" placeholder="Eg. ram@gmail.com" />
                                </div>
                            </div>

                            <!-- Contact Number -->
                            <div class="form-group">
                                <label class="col-md-2" for="contactnumber" style="text-align:left;padding: 10px;">Contact No</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-rounded" id="contactnumber" name="contactnumber" placeholder="Eg. 0166176814" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2" for="project" style="text-align:left;padding: 10px;">Project</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("project", (IEnumerable<SelectListItem>)ViewBag.ProjectList, new { @class = "form-control" })
                                </div>
                            </div>

                            <!-- Block -->
                            <div class="form-group">
                                <label class="col-md-2" for="unit" style="text-align:left;padding: 10px;">Block</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-rounded" id="block" name="block" placeholder="Eg. A" />
                                </div>
                            </div>

                            <!-- Level -->
                            <div class="form-group">
                                <label class="col-md-2" for="salesconsultant" style="text-align:left;padding: 10px;">Level</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("level", new SelectList(ViewBag.FloorUnitList, "Text", "Value"), new { @class = "form-control form-rounded" })
                                </div>
                            </div>

                            <!-- Unit -->
                            <div class="form-group">
                                <label class="col-md-2" for="salesconsultant" style="text-align:left;padding: 10px;">Unit</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("unit", new SelectList(ViewBag.FloorUnitList, "Text", "Value"), new { @class = "form-control form-rounded" })
                                </div>
                            </div>

                            <!-- Sales Consultant -->
                            <div class="form-group">
                                <label class="col-md-2" for="salesconsultant" style="text-align:left;padding: 10px;">Sales Consultant</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-rounded" id="salesconsultant" name="salesconsultant" placeholder="" />
                                </div>
                            </div>

                            <!-- Sales Location -->
                            <div class="form-group">
                                <label class="col-md-2" for="saleslocation" style="text-align:left;padding: 10px;">Sales Location</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control form-rounded" id="saleslocation" name="saleslocation" value="@ViewBag.SalesLocation" readonly/>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row text-center" style="margin-top:25px">
                        <button type="submit" class="btn btn-success" name="register" value="Register and Draw">Register and Try My Luck</button>
                    </div>

                </form>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    @Html.Partial("_Footer")

</div>



<script src="~/admin-lte/js/adminlte.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $('#register').addClass("active");

        level.SelectedValue = "1";
        unit.SelectedValue = "1";

        $("#register_user").validate({
            rules: {
                name: {
                    required: true,
                    validAlpha: true,
                    minlength: 3,
                    max50: true
                },
                ic_number: {
                    required: true,
                    validNo: true,
                    validIC: true
                },
                emailaddress: {
                    required: true,
                    minlength: 3,
                    max50: true
                },
                contactnumber: {
                    required: true,
                    validNo: true,
                    minlength: 9,
                    max15: true
                },
                block:
                {
                    required: true,
                    max50: true
                },
                salesconsultant: {
                    required: true,
                    validAlpha: true,
                    minlength: 3,
                    max50: true
                }
            },
            submitHandler: function (form) {
                var prizeWon = 0;
                var json = {
                    'Name': form.name.value,
                    'ICNumber': form.ic_number.value,
                    'EmailAddress': form.emailaddress.value,
                    'ContactNumber': form.contactnumber.value,
                    'EventID': '',
                    'ProjectID': form.project.value,
                    'Unit': form.block.value + "-" + form.level.value + "-" + form.unit.value,
                    'SalesConsultant': form.salesconsultant.value,
                    'SalesLocation': '@ViewBag.SalesLocation',
                    'PrizeWon': prizeWon
                };
                $.ajax({
                    url: '@Url.Action("CreateUserAndDraw", "Home")',
                    method: 'POST',
                    data: JSON.stringify(json),
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    success: function (data) {

                        if (data.success) {
                            alert(data.message + "You won RM" + data.draw);
                            $('#register_user')[0].reset();
                        }
                        else {
                            alert(data.message);
                        }

                    },
                    error: function (data) {
                        alert(data.message);
                    }
                });
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                error.insertAfter(element);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".col-md-10").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".col-md-10").addClass("has-success").removeClass("has-error");
            },
        });

        jQuery.validator.addMethod("validIC", function (value, element) {
        return value.length == 12;
        }, "This field must be exactly 12 characters long");

        jQuery.validator.addMethod("max50", function (value, element) {
            return value.length < 50;
        }, "This field must be less than 50 characters");

        jQuery.validator.addMethod("max15", function (value, element) {
            return value.length < 15;
        }, "This field must be less than 15 characters");

        jQuery.validator.addMethod("validNo", function (value, element) {
        return !(isNaN(value));
        }, "This field must be only contain numerical characters");

        jQuery.validator.addMethod("validAlpha", function (value, element) {
            return (isNaN(value));
        }, "This field must be only contain alphabetical characters");

    });

</script>